@{
    ViewData["Title"] = "Deportes";
}


@foreach(Deporte dep in ViewBag.ListaDeportes)
{
    <div class="card" style="width: 18rem;">
        <img src="@dep.Foto" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">@dep.Nombre</h5>
            <p class="card-text">Este es un gran deporte.</p>
            <a href='@Url.Action("VerDetalleDeporte", new{idDeporte = dep.IdDeportes})' class="btn btn-primary">Ver más info</a>
        </div>
    </div>
}